/**
 * body color
 */

html, body {
	background-image: radial-gradient(circle, #ea2300 0%,  #ea2300 20%, #ff8100 100%);
	background-repeat: no-repeat;
	height: 100%;

}

.btn-success {
	padding: 40px;
}

/**
 * Jumbotron
 */
.jumbotron {
	text-align: center;
	background: none;
	padding-left: 40px;
	padding-right: 40px;

	color: #2a2a2a;
}

/**
 * Layout
 */

.container {
	width: 500px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.3em;
	color: #aaa;
	background-color: #771100;
}

.guesses-left {
	padding: 10px;
	font-size: 1.5em;
}

.response {
	font-size: 1.4em;
}

form {
	margin: 15px;
}


/* Media Queries
================================= */

@media (max-width: 991px) {

	.container {
		width: 400px;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		color: #aaa;
		background-color: #771100;
	}



}
@media (max-width: 767px) {
	.container {
		width: 90%;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		color: #aaa;
		background-color: #771100;
	}

	form {
		margin: 0;
	}

	.btn-success {
		padding: 18px;
	}

}






























