/**
 * body color
 */

html, body {
	background-color: #ff8100;
	background-repeat: no-repeat;
	min-height: 100%;

}

.start-over {
	padding: 40px;
}

/**
 * Jumbotron
 */
.jumbotron {
	text-align: center;
	background: none;
	padding-left: 40px;
	padding-right: 40px;

	color: #2a2a2a;
}



/**
 * Layout
 */

.section {
	width: 500px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.3em;
	color: #ccc;
	background-color: #771100;
	box-shadow: 0 0 100px 30px #ea2300;
	margin-bottom: 50px;
}

.guesses-left {
	padding: 10px;
	font-size: 1.5em;
}

.response {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.response p {
	margin: 5px 0;
}

form {
	margin: 15px;
}

#guess {
	text-align: center;
	width: 110px;
	margin: auto;
}

.give-up {
	margin-bottom: 15px;
}

.hot-guesses {
	padding-bottom: 5px;
	background-color: rgb(236, 93, 13);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 65px;
}

.cold-guesses {
	padding-bottom: 5px;
	background-color: rgb(24, 123, 210);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 65px;
}

.guess-list {
	list-style: none;
	margin-bottom: 15px;
}

.guess-list li {
	display: inline;
}

.guess-list li:after {
	content: ", ";
}

.guess-list li:last-child:after {
	content: "";
}


/* Media Queries
================================= */

@media (max-width: 991px) {

	.container {
		width: 400px;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		background-color: #771100;
	}

	.hot-guesses {
		height: 50px;
	}

	.cold-guesses {
		height: 50px;
	}


}
@media (max-width: 767px) {
	.container {
		width: 90%;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		background-color: #771100;
	}

	.response {
		font-size: 1em;
	}

	form {
		margin: 0;
	}

	.start-over {
		padding: 18px;
	}

}






























